.DS_Store

**/target/
*.wasm
*.swp
*.swo
*/wasi_snapshot_preview1.wasm
*/wit/
*/process_env

/command_center/!pkg/*.wasm
/command_center/pkg/ui/*
/command_center/pkg/node_modules
/command_center/pkg/dist

